<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../static/listArticles/assets/img/favicon.ico">
	<title>Saved Articles</title>
	<!-- Bootstrap core CSS -->
	<link href="../static/listArticles/assets/css/bootstrap.min.css" rel="stylesheet">
	<!-- Fonts -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="../static/listArticles/assets/css/mediumish.css" rel="stylesheet">
	<style>
		span .post-date a {
			color: black;
		}

		.topnav {
			overflow: hidden;
			background-color: #333;
			height: 53.5px;
		}

		.topnav a {
			float: left;
			color: #f2f2f2;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 15px;
		}

		.topnav a:hover {
			transform: scale(1.15);
			/* color: black; */
		}

		.topnav a.active {
			background-color: lightslategray;
			color: white;
		}

		.topnav-right {
			float: right;
		}
	</style>
</head>

<body style="padding-top: 0%;">
	<div class="topnav">
		<a
			href="./select_newspaper.html"><b><i>QuickBytes</i></b></a>
		<a href="./select_newspaper.html"><i
				class="fa fa-newspaper-o" aria-hidden="true"></i> Change Newspaper</a>
		<a href="#"><i class="fa fa-floppy-o" aria-hidden="true"></i> Saved articles</a>
		<div class="topnav-right">
			<a href="./feedback_form.html"><i
					class="fa fa-pencil" aria-hidden="true"></i> Feedback</a>
			<a href="./login_page.html"><i
					class="fa fa-user-o" aria-hidden="true"></i> Logout?</a>
		</div>
	</div>

	<!-- Begin Site Title
================================================== -->
	<div class="container">
		<div class="mainheading">
			<h2>Saved Articles</h2>
		</div>
		<!-- End Site Title
================================================== -->

		<!-- Begin Featured
	================================================== -->
		<section class="featured-posts">

			<div class="card-columns listfeaturedtag">

				<!-- begin post -->
				<div class="card">
					<div class="row">
						<div class="col-md-5 wrapthumbnail">
							<div class="thumbnail">
								<img src="../static/listArticles/assets/img/bp2.jpg" width="200px" height="258px">
							</div>
						</div>
						<div class="col-md-7">
							<div class="card-block">
								<h2 class="card-title"><a
										href="./summary_display.html">Article
										1</a></h2>
								<h4 class="card-text">This is a longer card with supporting text below as a natural
									lead-in to additional content. This content is a little bit longer.</h4>
								<div class="metafooter">
									<div class="wrapfooter">

										<span class="author-meta">
											<span class="post-date"><a href="#">Read Full Article</a></span><span
												class="dot"></span>
											<span class="post-date"><a
													href="./summary_display.html">Read
													Summary</a></span><span class="dot"></span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end post -->

				<!-- begin post -->
				<div class="card">
					<div class="row">
						<div class="col-md-5 wrapthumbnail">
							<div class="thumbnail">
								<img src="../static/listArticles/assets/img/entertainment2.jpg" width="200px"
									height="258px">
							</div>
						</div>
						<div class="col-md-7">
							<div class="card-block">
								<h2 class="card-title"><a href="#">Article 2</a></h2>
								<h4 class="card-text">This is a longer card with supporting text below as a natural
									lead-in to additional content. This content is a little bit longer.</h4>
								<div class="metafooter">
									<div class="wrapfooter">

										<span class="author-meta">
											<span class="post-date"><a href="#">Read Full Article</a></span><span
												class="dot"></span>
											<span class="post-date"><a href="#">Read Summary</a></span><span
												class="dot"></span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--end post -->

				<!-- begin post -->
				<div class="card">
					<div class="row">
						<div class="col-md-5 wrapthumbnail">
							<div class="thumbnail">
								<img src="../static/listArticles/assets/img/health2.jpg" width="200px" height="258px">
							</div>
						</div>
						<div class="col-md-7">
							<div class="card-block">
								<h2 class="card-title"><a href="#">Article 3</a></h2>
								<h4 class="card-text">This is a longer card with supporting text below as a natural
									lead-in to additional content. This content is a little bit longer.</h4>
								<div class="metafooter">
									<div class="wrapfooter">

										<span class="author-meta">
											<span class="post-date"><a href="#">Read Full Article</a></span><span
												class="dot"></span>
											<span class="post-date"><a href="#">Read Summary</a></span><span
												class="dot"></span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end post -->

				<!-- begin post -->
				<div class="card">
					<div class="row">
						<div class="col-md-5 wrapthumbnail">
							<div class="thumbnail">
								<img src="../static/listArticles/assets/img/scitech2.jpg" width="200px" height="258px">
							</div>
						</div>
						<div class="col-md-7">
							<div class="card-block">
								<h2 class="card-title"><a href="#">Article 4</a></h2>
								<h4 class="card-text">This is a longer card with supporting text below as a natural
									lead-in to additional content. This content is a little bit longer.</h4>
								<div class="metafooter">
									<div class="wrapfooter">

										<span class="author-meta">
											<span class="post-date"><a href="#">Read Full Article</a></span><span
												class="dot"></span>
											<span class="post-date"><a href="#">Read Summary</a></span><span
												class="dot"></span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end post -->

			</div>
		</section>
		<!-- End Featured
	================================================== -->

	</div>
	<!-- /.container -->

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="../static/listArticles/assets/js/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
		integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
		crossorigin="anonymous"></script>
	<script src="../static/listArticles/assets/js/bootstrap.min.js"></script>
	<script src="../static/listArticles/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>